[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.109.1"
uvicorn = {version = ">=0.16.0", extras = ["standard"]}
sqlalchemy = ">=2.0.29"
psycopg2-binary = ">=2.9.9"
python-dotenv = ">=1.0.1"
fastapi-utilities = ">=0.2.0"
pyyaml = "==6.0.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
